#knopka {
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 25px;
  height: 100px;
  width: 100px;
  background-color: red;
  color: rgb(19, 66, 142);
}

.schet {
  display: inline-block;
  position: absolute;
  top: 300px;
}
#schet {
left: 100px
}
